.features-list__text {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
}

.features-list__item {
    margin-right: 30px;
}

.features-list__item:last-child {
    margin-right: 0;
}
.features-list__picture {
    width: 70px;
    height: 70px;
}

