.footer-subsribe {
    flex-grow: 1;
    margin-left: 93px;
}

.form-subscribe {
    display: flex;

    &__label {
        display: flex;
        height: 50px;
    }

    &__input {
        background-color: $second-background-color;
        color: $second-accent-color;
        min-width: 358px;
        padding: 16px;
        border-radius: 4px;
        border-color: rgba(255, 255, 255, 0.3);
    }

    &__input::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}





